<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >
<mapper namespace="cn.com.lyf.wechat.dao.OrderDao">

    <select id="selectAddressById" resultType="cn.com.lyf.wechat.entity.Order">
        select * from t_address where id = #{addressId} and is_delete = '0'
    </select>

    <select id="selectAllAddress" resultType="cn.com.lyf.wechat.entity.Order">
        select * from t_address t where is_delete = '0'
        <if test="userId!=null and userId!=''">
            AND t.user_id = #{userId}
        </if>
    </select>

    <update id="updateAddress">
        UPDATE t_address SET contacts = #{address.contacts},phone = #{address.phone},province = #{address.province},city = #{address.city},area = #{address.area},detail_address = #{address.detailAddress} WHERE id = #{address.id}
    </update>

    <update id="deleteAddress">
        UPDATE t_address SET is_delete = 1 WHERE id = #{id}
    </update>

    <insert id="addOrder" parameterType="cn.com.lyf.wechat.entity.Order" useGeneratedKeys="true" keyProperty="order.id" keyColumn="id">
        INSERT INTO t_order (number,status,user_id,address_id,total_amount,remarks,order_time,is_delete,type)
        VALUES
        (#{order.number},#{order.status},#{order.userId},#{order.addressId},#{order.totalAmount},#{order.remarks},#{order.orderTime},#{order.isDelete},#{order.type})
    </insert>

    <update id="updateDefault">
        UPDATE t_address SET is_default = 1 WHERE id = #{addressId}
    </update>
</mapper>