<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >
<mapper namespace="cn.com.lyf.wechat.dao.UserDao">
	<select id="selectUserByName" resultType="cn.com.lyf.wechat.entity.User">
	     select * from t_user where phone = #{phone} and password = #{password} and is_delete = '0' and type =#{type}
	</select>

	<select id="selectUsername" resultType="cn.com.lyf.wechat.entity.User">
		select * from t_user where phone = #{phone} and is_delete = '0'
	</select>

	<select id="selectUserById" resultType="cn.com.lyf.wechat.entity.User">
		select * from t_user where id = #{userId} and is_delete = '0'
	</select>

	<select id="selectAllUser" resultType="cn.com.lyf.wechat.entity.User">
		select * from t_user u where is_delete = '0' and type = '1'
		<if test="user.phone!=null and user.phone!=''">
			AND u.phone = #{user.phone}
		</if>
		<if test="user.name!=null and user.name!=''">
			AND u.name LIKE #{user.name}
		</if>
		<if test="recentLoginStartTime!=null and recentLoginStartTime!=''">
			AND u.recent_login_time >= #{recentLoginStartTime}
		</if>
		<if test="recentLoginEndTime!=null and recentLoginEndTime!=''">
			AND #{recentLoginEndTime} >= u.recent_login_time
		</if>
		<if test="registStartTime!=null and registStartTime!=''">
			AND u.regist_time >= #{registStartTime}
		</if>
		<if test="registEndTime!=null and registEndTime!=''">
			AND #{registEndTime} >= u.regist_time
		</if>
	</select>

	<update id="updatePasswordById">
		UPDATE t_user SET password = #{newPassword} WHERE id = #{id}
	</update>

	<update id="updateLastLoginById">
		UPDATE t_user SET recent_login_time = #{recentLoginTime} WHERE id = #{id}
	</update>

	<update id="updateUserById">
		UPDATE t_user SET phone = #{user.phone},name = #{user.name},password = #{user.password} WHERE id = #{user.id}
	</update>

	<update id="doOrder">
		UPDATE t_user SET money = #{user.money} WHERE id = #{user.id}
	</update>

	<update id="delectUser">
		UPDATE t_user SET is_delete = #{user.isDelete} WHERE id = #{user.id}
	</update>

	<insert id="newUser" parameterType="cn.com.lyf.wechat.entity.User" useGeneratedKeys="true" keyProperty="user.id" keyColumn="id">
		INSERT INTO t_user (phone, name, password,money, regist_time,is_delete,type)
		VALUES
		(#{user.phone},#{user.name},#{user.password},10000, #{user.registTime}, #{user.isDelete}, #{user.type})
	</insert>
</mapper>